option_settings:
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: AWS_SECRET_KEY
      value: Ew1l3iICxDrWOd5SaYAEd0g2SLRK+Wg7j0dZKWQI
      option_name: AWS_ACCESS_KEY_ID
      value: 0MNQS359HZ8KWQKVHJ82
    - namespace: aws:elasticbeanstalk:container:nodejs
      option_name: NodeCommand
      value: server.js
      option_name: NodeVersion
      value: 0.8.18
      option_name: GzipCompression
      value: true
      option_name: ProxyServer
      value: nginx
    - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
      option_name: /public
      value: /public
      option_name: /images
      value: /public/images
      option_name: /lib
      value: /public/lib
      option_name: /resources
      value: /public/resources
      option_name: /scripts
      value: /public/scripts
      option_name: /styles
      value: /public/styles

