<p>
    <b>Node</b>. <b>MongoDB</b>. <b>Android</b>.
</p>
<p>
    Just three of the technologies we work with at Hyperfine Software, building web applications, web services, and mobile applications.
    Not enough? We work with <b>ASP.NET</b>, <b>Windows Azure</b>, <b>Amazon AWS</b>, <b>SQL Server</b>, and more. Our breadth of experience comes
    from being in the business since the late 1980s, and we've always been tempted to learn new technologies as
    they arise. We're jacks of all trades, and we also go deep.
</p>
<p>
    Over the years we've been involved with Silicon Valley's earliest software ventures, building the user interface
    for Microsoft Windows, launching startups, and delivering our own products for Android. Along the way we've
    helped others build software, taught methodology, and established best practices.
</p>
<p>
    Hyperfine Software is Rob Bearman's creative outlet, a home for building software and collaborating with others. While
    Rob has spent time at Microsoft, IBM, Software Publishing, and other software development companies, Hyperfine is
    the place he comes back to for his personal projects and to provide consulting services to others.
</p>
<p>
    Hyperfine products include the acclaimed <a href="/remoteforitunes">Remote for iTunes</a>, a top-selling Android
    application for controlling iTunes from anywhere in your house. Also check out <a href="/chimetime">Chime Time</a>,
    an Android application that turns your phone into an old-time desk clock or bell tower.
</p>
